.selections1,.selections2,.selections3{
   
  margin-left: 10px;
  
}
h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: normal;
    color: #FFE14D;
    
}
.buttons{
    display: flex;
    gap:30px;
    justify-content: center;
    background-color: #302DA1;
    

}
.result{
  text-align: center;
  font-family: 'Edu QLD Beginner', cursive;
  color: #FFE654;
  font-size: 22px;
  
}
body{
    background-color: #302DA1;
    display: flex;
    flex-direction: column;
}
img{
    width: 300px;
   
}